.tab_new{line-height:1;border-spacing:1px;width:48%;display:inline-table;}
.titel_new,.tab_new th{font-weight:bold;text-align:center;}
.tab_new tr td:first-child{width:20%}
.tab_new tr td:nth-child(2){width:20%}
.tab_new td{padding-top:5px;padding-left:1px;padding-right:1px;}

.light_blue th{background-color:#b9c9fe;}
.green th{background-color:GreenYellow;}
.GoldenRod th{background-color:GoldenRod;}
.ForestGreen th{background-color:ForestGreen;}
.DarkOrange th{background-color:DarkOrange;}
.DeepSkyBlue th{background-color:DeepSkyBlue;}
.DarkGoldenRod th{background-color:DarkGoldenRod ;}
.Silver th{background-color:Silver;}
.LightSlateGrey  th{background-color:LightSlateGrey;}
.SandyBrown th{background-color:SandyBrown;}
.Peru th{background-color:Peru;}
.Teal th{background-color:Teal;}
.Turquoise th{background-color:Turquoise;}
.MediumSeaGreen th{background-color:MediumSeaGreen;}
.MediumSpringGreen th{background-color:MediumSpringGreen;}
.OliveDrab th{background-color:OliveDrab;}
.Olive th{background-color:Olive;}
.Plum th{background-color:Plum;}
.Pink th{background-color:Pink;}
.Cyan th{background-color:Cyan;}
.CornflowerBlue th{background-color:CornflowerBlue;}

.unregel{color:blue;}
.ending{color:green;}