.tab_new{border:1px solid black;line-height:1;border-spacing:2px;background-color:#FFFFFF;width:48%;display:inline-table;}
.tab_new tr.border{border-bottom:1pt solid black;}
.titel_new,.tab_new th{font-weight:bold;text-align:center;}
.tab_new tr:nth-child(even){background:white;}
.tab_new tr:nth-child(odd){background:#efefef;}
.tab_new tr td:first-child{width:20%}
.tab_new tr td:nth-child(2){width:20%}
.tab_new td{padding-top:5px;padding-left:2px;}

.light_blue,.light_blue th{background-color:#b9c9fe;}
.green,.green th{background-color:GreenYellow;}
.GoldenRod,.GoldenRod th{background-color:GoldenRod;}
.ForestGreen,.ForestGreen th{background-color:ForestGreen;}
.DarkOrange,.DarkOrange th{background-color:DarkOrange;}
 

.tabreiter
{
    width: 100%;
    height: 3100px;
}   
 
.tabreiter ul,
.tabreiter li
{
    margin: 0;
    padding: 0;
    list-style: none;
}
 
.tabreiter,
.tabreiter input[type="radio"]:checked + label
{
    position: relative;
}
 
.tabreiter li,
.tabreiter input[type="radio"] + label
{
    display: inline-block;
}
 
.tabreiter li > div,
.tabreiter input[type="radio"]
{
    position: absolute;
}
 
.tabreiter li > div,
.tabreiter input[type="radio"] + label
{
    border: solid 1px #ccc;
}
 
.tabreiter
{
    font-family: Arial, Sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #404040;
}
 
.tabreiter li
{
    vertical-align: top;
}
 
.tabreiter li:first-child
{
    margin-left: 8px;
}
 
.tabreiter li > div
{
    top: 33px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    overflow: auto;
    background: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
 
.tabreiter input[type="radio"] + label
{
    margin: 0 2px 0 0;
    padding: 0 18px;
    line-height: 32px;
    background: #f1f1f1;
    text-align: center;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
 
.tabreiter input[type="radio"]:checked + label
{
    z-index: 1;
    background: #fff;
    border-bottom-color: #fff;
    cursor: default;
}
 
.tabreiter input[type="radio"]
{
    opacity: 0;
}
 
.tabreiter input[type="radio"] ~ div
{
    display: none;
}
 
.tabreiter input[type="radio"]:checked:not(:disabled) ~ div
{
    display: block;
}
 
.tabreiter input[type="radio"]:disabled + label
{
    opacity: .5;
    cursor: no-drop;
}